<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LauncherServlet</servlet-name>
		<servlet-class>utd.gae.LauncherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LauncherServlet</servlet-name>
		<url-pattern>/launch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateRobot</servlet-name>
		<servlet-class>utd.gae.CreateRobot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRobot</servlet-name>
		<url-pattern>/CreateRobot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateRobot</servlet-name>
		<servlet-class>utd.gae.UpdateRobot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRobot</servlet-name>
		<url-pattern>/UpdateRobot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRobot</servlet-name>
		<servlet-class>utd.gae.DeleteRobot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRobot</servlet-name>
		<url-pattern>/DeleteRobot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetRobot</servlet-name>
		<servlet-class>utd.gae.GetRobot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRobot</servlet-name>
		<url-pattern>/GetRobot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveRobot</servlet-name>
		<servlet-class>utd.gae.SaveRobot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveRobot</servlet-name>
		<url-pattern>/SaveRobot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlayerGetRobots</servlet-name>
		<servlet-class>utd.gae.PlayerGetRobots</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayerGetRobots</servlet-name>
		<url-pattern>/PlayerGetRobots</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoboPlayer</servlet-name>
		<servlet-class>utd.gae.RoboPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoboPlayer</servlet-name>
		<url-pattern>/RoboPlayer</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>